# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# PyMongo lock or db artifacts (if any)
*.lock

